{% extends 'find_friends.html' %}

{% block friends_card %}

<div class="container bg-body-secondary long ">
    <div class="profile pb-4">
        <div class="profile-picture">
            <img src="{{ url_for('static', filename='/profile_images/' + data.user.profile_image_filename) }}"
                
            alt="Profile Picture">

        </div>
        <div class="profile-info">
            <h2 class="full-name pb-2">{{data.user.first_name}} {{data.user.middle_name}} {{data.user.last_name}}</h2>
            <p class="username">@{{data.user.username}}</p>
            
            <p>{{ data.user.birth_date.strftime('%B %d, %Y') }}</p>
            <p class="username">Friends {{data.user.no_of_friends}}</p>
        </div>
        {% if current_user.id == data.user.id %}
            <button class="btn btn-dark w-50">
                <a class="text-decoration-none text-white" href="{{ url_for('edit_profile') }}">Edit Profile</a>
            </button>
        {% endif %}
        
    </div>

    <hr>
    <h3>Posts</h3>
    <hr>
    {% if data.my_posts %}
        <div class="post-container">
            {% for post in data.my_posts %}
                <div class="post">
                    <div class="post-header ">
                        <img src="{{ url_for('static', filename='profile_images/' + post.author.profile_image_filename) }}" alt="Author Profile Picture">
                        <div class="post-author">
                        </div>
                        <p>{{ post.date.strftime('%B %d, %Y') }}</p>
                    </div>
                    <div class="post-content">
                        <p>{{ post.content }}</p>
                        {% if post.post_image_filename %}
                            <img src="{{ '../static/profile_images/' + post.post_image_filename }}" alt="Post Image" class="img-fluid object-fit-contain bigimage">
                        {% endif %}

                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts to display.</p>
    {% endif %}
</div>
{% endblock %}
